body {
	background-color: black;
	margin: 0;
	padding: 0;
	width: 100%;

}

header {
	background-image: url("images/image2.jpg");
	display: cover;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: 600px;
	margin: 0  auto 0 auto;
	border: 3px double rgba(255, 255, 255, 0.6);

}



footer {
	border: 3px double rgba(255, 255, 255, 0.6);
	background-image: url("images/london3.jpg");
	background-repeat: no-repeat;
	height: 400px;
	display: block ;
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: 600px;
	margin: 0  auto 0 auto;
	z-index: -5;
}

.cycle-slideshow {
	width: 100%;
	max-width: 600px;
	display: inline-block;
	position: relative;
	margin: 0  auto 0 auto;
	
}

.container {
	
	height: 700px;
	width: 100%;
	max-width: 600px;
	display: block;
	position: relative;
	margin: -100px  auto -150px auto;
}


img {
	max-width: 100%;
	position: center;
}
.pictures {
	height: 200px;
	width: 100%;
	max-width: 200px;
	display: block;
	position: relative;
	margin: 0  auto 0 auto;
}

nav ul ul {
	display: none;
	position: relative;

}



	nav ul li:hover > ul {
		display: block;
		
	}

nav {
	width: 600px;
	max-width:100%; margin:auto;
	position: relative;
	

}

nav ul {
	background: transparent; 
	background: linear-gradient(transparent);  
	background: -moz-linear-gradient(transparent); 
	background: -webkit-linear-gradient(transparent); 
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	color: white;
	position: relative;
	padding: 0 ;
	margin: 0 auto;
	list-style: none;
	display: block;
    text-align: left;
    
	max-width:600px; margin:auto;
	-webkit-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	transition: max-height 0.5s;
	overflow: hidden;
}

nav ul:hover
	nav ul:after {
		content: ""; clear: both; display: block;
		z-index: 20;
		margin: 0px;
	}


	nav ul li {
	display: inline-block;
	padding: 0 ;
	margin: 0;
	text-align: center;

}
	nav ul li:hover {
		background: transparent; 
	background: linear-gradient(transparent);  
	background: -moz-linear-gradient(transparent); 
	background: -webkit-linear-gradient(transparent);
	}
		nav ul li:hover a {
			color: white;

		}
	
	nav ul li a {
		display: block; 
		font-size: 11px;
		text-align: center;
		padding: 8px 20px;

		color: white; text-decoration: none;
		width: 100%;
		z-index: 10;
	}

nav ul ul {
	background: transparent; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid white;
		
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 50px;
			color: #fff;
			z-index: 20;

		}	
			nav ul ul li a:hover {
				background:rgba(255, 255, 255, 0.24);
				z-index: 20;
			}




.row {
	width: 100%;
	max-width: 160px;
	display: block;
	position: relative;
	margin: 0  auto 0 auto;
	 
}

.row2 {
	width: 100%;
	max-width: 80px;
	display: block;
	position: relative;
	margin: 70px  auto 0 auto;
	 
}

.welcome {
	
	background-color: white;
	height: 200px;
}

.line {
	font-size: 25px;
	padding-top: 40px;
	position: absolute;
	text-align: center;
	width: 100%;
}

p {
	font-size: 15px;
	padding: 80px 100px;
	position: absolute;
	text-align: center;
	
}


.logo {
	width: 100%;
	max-width: 210px;
	display: block;
	position: relative;
	margin: 0  auto 0 auto;
}

.pictures {
	float: left;
	position: relative;
	
	display: inline-block;
}

.pictureText  {
	color: white;
	font-size: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 120px;
}


.footContainer {
	
	height: 250px;
	width: 100%;
	max-width: 600px;
	
	display: block;
	position: relative;
	margin: 200px  auto 0px auto;
	border-bottom: 3px double rgba(255, 255, 255, 0.6);

}

.twitter {
	
	height: 200px;
	width: 100%;
	max-width: 180px;
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 15px;
	padding: 0;
	text-align: center;
	color: white;

}


.instagram {
	
	height: 200px;
	width: 100%;
	max-width: 180px;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0 15px;
	padding: 0;
	text-align: center;
	color: white;
}

.button {
	margin-left: 2px;
}

.signup {
	
	height: 200px;
	width: 100%;
	max-width: 180px;
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 15px;
	padding: 0;
	text-align: center;
	color: white;
}

.title {
	font-size: 1em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

h5 {
	margin: 3px auto;
}

.pTitle {
	margin: 10px auto 20px auto;
	font-size: 12px;
}

.Box {
	
	font-size: 11px;
	text-align: left;
	padding: 3px
	background-color: transparent; 
}

input {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
}


input[type="submit"] {
    width: 100px;
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    position: relative;
    margin: 15px 35px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
}

input[type="text"] {
    
    color: white;
    
}


.Ipicture {
	height: 80px;
	width: 100%;
	max-width: 180px;
	
	display:inline-block; 
	position: relative;
	margin: 0;
}

.Ipicture1 {
	position: relative;
	float: left;
	display: inline-block;
	height: 80px;
	width: 100%;
	max-width: 80px;
	margin-right: 2px;
}

.Ipicture2 {
	position: relative;
	height: 80px;
	display: inline-block;
	height: 80px;
	width: 100%;
	max-width: 80px;
	margin-left: 15px;
}

.contact {
	width: 100%;
    float: left;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    display: inline-block;
}

.contact li {
	color: white;
	display:inline;
}





.handle {
	width: 100%;
	background-color: transparent;
	box-sizing: border-box;
	padding: 2px 10px;
	cursor: pointer;
	color: white;
	display: none;
	
}

@media screen and (max-width: 840px){
	body {
		width: 90%;
		padding: 0 4%;
	}




	nav ul {
		max-height: 0;
		
	}
	.showing {
		max-height: 20em;

	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
	}

	nav ul li a {
		box-sizing: border-box;
		width: 100%;
		text-align: center;
	}

	.handle {
	width: 100%;
	max-width: 80px;
	display: block;
	position: relative;
	margin: 5px  auto 5px auto;
	font-size: 25px;
		
	}

	.handle:hover {
		background-color: rgba(0, 0, 0, 0.47);
		border-radius: 5px;
	}

	nav ul li {
		background-color: rgba(0, 0, 0, 0.47);
	}

	.cycle-slideshow {
		left: 3px;
	}

}


@media screen and (max-width: 1080px){
	body {
		width: 90%;
		padding: 0 4%;
	}

}

@media screen and (max-width: 425px) {
	.container {

	height: 500px;
	width: 100%;
	max-width: 300px;
	display: block;
	position: relative;
	margin: 0  auto 0 auto;
	
	}

	.pictures {
		display: none;
	}

	.welcome {
		display: none;
	}

	.footContainer {
	height: 620px;
	width: 300px;
	max-width: 300px;
	padding: 0px;
	margin: 0px  ;
	left: 35px;
	display: block;
	position: center;
	margin: 0px   0px auto;
	border-bottom: none;
	
	}

	.twitter {
	height: 180px;
	width: 100%;
	max-width: 180px;
	display: inline-block;
	position: relative;
	margin-left: 60px;
	padding-bottom:  30px ;
	
	}

	.instagram {
	height: 180px;
	width: 100%;
	max-width: 180px;
	margin-left: 60px;
	}

	.signup {
	height: 180px;
	width: 100%;
	max-width: 180px;
	margin-left: 60px;
	}

	header {
	height: 500px;
	border: 3px double rgba(255, 255, 255, 0.6);
	}

	.contact {
	margin-top: 0px;
    padding-top: 0px;
    }
	
	footer {
		margin: -350px  auto 0 auto; 
	}
}


@media screen and (max-width: 375px) {
	.footContainer {
		left: 12px;
	}

	

	

	
}

@media screen and (max-width: 320px) {
	

	

	.footContainer {
	left: -10px;

	}

	

	
	footer {
		margin: -363px  auto 0 auto; 
	}
	

	
}


